@import '../constants.css';

.container {
	font-family: Chakra Petch;
	display: grid;
	grid-template-areas:
		'a a a a'
		'b c c c'
		'b d d d';
	grid-template-columns: 7fr 3fr 3fr 3fr;
	border: var(--border-style);
	background: #f7f2e9;
}

.cell img {
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	height: 100%;
}

.cell.header {
	grid-area: a;
	padding: 16px 4%;
	border-bottom: var(--border-style);
}

.cell.bigimg {
	grid-area: b;
	border-right: var(--border-style);

	background-image: url('https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
	background-position: 50% 50%;
	background-size: cover;
}

.cell.intro {
	grid-area: c;

	padding: 16px 8%;
	border-bottom: var(--border-style);
}

.cell.links {
	grid-area: d;
}

@media (max-width: 480px) {
	.container {
		grid-template-areas:
			'a a a a'
			'c c c c'
			'd d d d';
	}
	.cell.bigimg {
		display: none;
	}
}
