.title {
	font-size: 1.3em;
	font-weight: 600;
	text-transform: uppercase;
}
.label {
	font-size: 0.8em;
	font-weight: 600;
	text-transform: uppercase;
}
.body {
	font-weight: 500;
	font-size: 1em;
}
.desc {
	font-weight: 500;
	font-size: 0.8em;
}
.bullet {
	font-size: 0.8em
}