%allText {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	// -webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #313131;
}

.label {
	@extend %allText;
	font-size: 9.75px;
	line-height: 11px;
	letter-spacing: 0.75px;

	text-transform: uppercase;
}

.caption {
	@extend %allText;
	font-size: 12px;
	line-height: 16px;
}

.button {
	@extend %allText;
	font-size: 12.5px;
	line-height: 22px;
	letter-spacing: 0.5px;

	text-transform: uppercase;
}

.bodyBook {
	@extend %allText;
	font-size: 14px;
	line-height: 22px;
}

.bodyBookTabular {
	@extend %allText;
	font-size: 14px;
	line-height: 22px;
	font-feature-settings: "tnum" on, "lnum" on;
}

.bodyMedium {
	@extend %allText;
	font-size: 14px;
	line-height: 22px;
	font-weight: 600;
}

.subtitle {
	@extend %allText;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;

	letter-spacing: 1px;
}

.title {
	@extend %allText;
	font-size: 28px;
	line-height: 42px;
	font-weight: 600;

	letter-spacing: 1.2px;
}
