// Pin-stripe background
@mixin pinstripe($color) {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) $color;
}

.container {
	@include pinstripe(#2C2E2F);
	position: relative;
	box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
	padding: 32px;
	color: ghostwhite;
	display: flex;
	flex-wrap: nowrap;
}

.left {}
.right {
	padding-left: 32px;
	flex: 1;
}

.pic {
	border: 1px solid ghostwhite;
	padding: 4px;
}
.name {
	font-size: 2em;
}
.role {
	font-size: 1.2em;
}
