/* https://raw.githubusercontent.com/hankchizljaw/modern-css-reset/master/src/reset.css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
[role=button] {
  cursor: pointer;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #333333;
  background-color: #ffffff;
  min-width: 320px;
  background: #D6D7E1;
}

a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #22527b;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
  font-family: inherit;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

#pf-header {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #2C2E2F;
  position: relative;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 32px;
  color: ghostwhite;
  display: flex;
  flex-wrap: nowrap;
}
#pf-header .left .pic {
  border: 1px solid ghostwhite;
  padding: 4px;
}
#pf-header .left .links {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}
#pf-header .left .links a {
  padding: 4px 8px;
  background-color: ghostwhite;
}
#pf-header .right {
  padding-left: 32px;
  flex: 1;
}
#pf-header .right .name {
  font-size: 2em;
}
#pf-header .right .role {
  font-size: 1.2em;
}

#pf-header-accessory-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

#pf-content {
  padding: 32px;
}

#pf-resume {
  background-color: ghostwhite;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 32px;
}

.resume-section {
  padding: 0 0 32px 0;
}

.resume-section-title {
  border-bottom: 2px solid black;
}

.resume-section-item {
  padding: 16px 0 0 0;
}
.resume-section-item .lang {
  width: 200px;
  text-align: right;
  padding-right: 16px;
}
.job-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-where {
  font-size: 1.4em;
  font-weight: 500;
}
