.container {
	display: flex;
	padding-bottom: 16px;
	margin-bottom: 16px;
}

.left {
	flex: 1;
}

.right {}


.contactRow {
	display: flex;
	align-items: center;

	&:not(:first-child) {
		padding-top: 8px;
	}
}

.contactIcon {
	width: 24px;
	height: 24px;
}
.contactInfo {
	padding-left: 16px;
}