.container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	z-index: 2;
	background: linear-gradient(155deg, #F2F6FA 10%, #D6E5F4 90%);
	box-shadow: 0 0 36px rgba(0,0,0,0.2);
	border-radius: 16px;
	
	//transition: all 600ms cubic-bezier(0.770, 0.060, 0.240, 0.925);

	bottom: 0;
	&.playlistOpen {
		bottom: calc(100% - 140px);
	}
}

// // WHEN PLAYLIST IS OPEN
// .hiddenHover {
// 	position: absolute;
// 	z-index: 1;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// }

.controlButtonsRow {
	display: flex;
	align-items: center;
	justify-content: space-between;

	// MAYBE TEMP FOR NOW - CONSTRAIN TO BOTTOM
	position: absolute;
	bottom: 42px;
	left: 0;
	width: 100%;

	transition: all 600ms cubic-bezier(0.770, 0.060, 0.240, 0.925);
	&.isPlaylistOpen {
		bottom: 32px;
	}
}
.controlButtons {
	display: flex;
	align-items: center;
}
.playButton {
	margin-left: 8px;
	margin-right: 8px;
}
.auxButton {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 48px;
}

.smallIcon {
	width: 8px;
	height: 8px;
}
.largeIcon {
	width: 10px;
	height: 10px;
}
.largestIcon {
	width: 20px;
	height: 20px;
}