@mixin centerChildren {
	display: flex;
	align-items: center;
	justify-content: center;

	// TMP - NO NEED IF NO TEXT
	text-align: center;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

// TODO: COOLER ANIMATION IN DRIBBBLE
// @keyframes recordHideShow {
// 	0% {
// 		bottom: 0;
// 	}
// 	50% {
// 		bottom: 32px;
// 	}
// 	100% {
		
// 	}
// }

.container {
	@include centerChildren;
	position: absolute;
	left: 0;
	width: 100%;
	
	transition: opacity 300ms cubic-bezier(0.770, 0.060, 0.240, 0.925) 100ms,
	bottom 600ms cubic-bezier(0.770, 0.060, 0.240, 0.925);
	
	bottom: 180px;
	opacity: 1;
	
	&.isPlaylistOpen {
		// animation: recordHideShow 1000ms;
		bottom: 32px;
		opacity: 0;
	}
	
	transform: perspective(0px) rotateX(0deg);
	&.perspective {
		transform: perspective(500px) rotateX(30deg);
	}
}

.disc_0 {
	@include centerChildren;

	border-radius: 50%;
	height: 188px;
	width: 188px;
	box-shadow:  1px 1px 1px 0px inset white, -1px -1px 1px 0px inset white, 4px 4px 8px rgba(0,0,0,0.2);
	
	border: 1px solid rgba(0,0,0,0.2);


	background: radial-gradient(circle at 100% 0%, #205c92 0%, transparent 60%, transparent 100%),
	radial-gradient(circle at 0% 100%, purple 0%, transparent 60%, transparent 100%);
}

.disc_1 {
	@include centerChildren;

	border-radius: 50%;
	width: 166px;
	height: 166px;
	border: 1px solid rgba(255,255,255,0.2);
}

.disc_2 {
	@include centerChildren;

	border-radius: 50%;
	width: 146px;
	height: 146px;
	border: 1px solid rgba(255,255,255,0.2);
}

.discImage {
	@include centerChildren;

	overflow: hidden;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	background: linear-gradient(0deg, black, white);
	border: 2px solid white;

	&.rotating {
		animation: rotating 2s linear infinite;
	}
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}