.container {
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 16px;
	padding-right: 16px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	&:first-child {
		margin-top: 16px;
	}
	&:last-child {
		margin-bottom: 16px;
	}

	&:not(:first-child) {
		border-top: 1px solid rgba(255,255,255,0.3);
	}
	&:not(:last-child) {
		border-bottom: 1px solid rgba(0,0,0,0.2);
	}
}

.button {
	background: white;
	width: 24px;
	height: 24px;
	border-radius: 50%;

	&.current {
		background: yellow;
	}
}

.body {
	flex: 1;
	padding-left: 8px;
}
.title {
	font-size: 11px;
	letter-spacing: 0.4px;
	color: rgba(255,255,255,0.8);
}

.artist {
	font-size: 9px;
	letter-spacing: 0.8px;
	color: rgba(255,255,255,0.4);
}

.duration {
	font-size: 10px;
	letter-spacing: 0.8px;
	color: rgba(255, 255, 255, 0.4);
}