.container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: #977ADE;
	padding-top: 140px;

	display: flex;
	flex-direction: column;
}

.innerContainer {
	overflow: auto;
}